
// Include any default variable overrides here (though functions won't be available)
$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
$primary: #733FC8;
$success: #49556B;
$dark: #18202D;
$secondary: #EDF2F8;




@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@media (min-width: 992px) {
    .alto-100 {
        height: 100vh;
    }
}

.d-flex img {
    width: 50px;
}

.fondo-card {
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 95% top;
}